.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
}
h2{
    color: blue;
}
.fields{
    width: 100%;
}
.form-fields{
    display: flex;
    align-items: center;
    width: 50%;
}
.form-fields > input{
    width: 20%;
}
/* .check{
    height: 20px;
} */
.horizontal{
    margin-left: -25px;
    width: 102.5%;
}